h1 {
  text-align: center;
}
.elem {
  align-self: center;
}
body {
  display: flex;
  flex-direction: column;
}

button {
  text-align: center;
  display: inline-block;
}

video{
  text-align: center;
}

p{
  text-align: center;
  line-height: 50%;
}

a{
  text-align: center;
}

.dropDownOpt{
  text-align: center;
  display: block;
}

.checkBoxOpt{
  text-align: center;
  display: block;
}